<div class="row">
  <div class="col-xs-12">
    <p>Add new Servers or blueprints!</p>
    <label>Server Name</label>
    <!-- Using 2 way data binding to get the newServerName value below -->
    <!-- <input type="text" class="form-control" [(ngModel)]="newServerName"> -->
    <!-- Using local reference to pass the HTML element to the ts method to extract the needed value from the element reference -->
    <input type="text" 
           class="form-control"
           #serverNameInput>
    <label>Server Content</label>
    <!-- Using 2 way data binding to get the newServerContent value below -->
    <!-- <input type="text" class="form-control" [(ngModel)]="newServerContent"> -->
    <!-- Using local reference to pass the HTML element to the ts method to extract the needed value from the element reference -->
    <input type="text" 
           class="form-control"
           #serverContentInput>
    <br>
    <button class="btn btn-primary" (click)="onAddServer(serverNameInput)">Add Server</button>
    <button class="btn btn-primary" (click)="onAddBlueprint(serverNameInput)">Add Server Blueprint</button>
  </div>
</div>