<!-- The String interpolation just needs an expression which evaluates to a string as shown below with the first expression -->
<!-- The second and third placeholder fetches the value from the ServerComponent typescript class -->
<!-- The fourth interpolation shows how to call a method in the ServerComponent typescript class -->
<!-- ngStyle directives allows us to add dynamic styling -->
<!-- ngClass directives allows us to add css classes dynamically to elements -->
<p [ngStyle]="{'background-color': getColor()}"
   [ngClass]="{'online': serverStatus === 'online'}">The {{ 'server' }} with ID {{ serverId }} is {{ serverStatus }} and also {{ getServerStatus() }}</p>