<label>Server Name</label>
<!-- We are using the following bindings below -->
<!-- 1.String Interpolation -->
<!-- 2.Property Binding -->
<!-- 3.Event Binding -->
<!-- 4.Two way data binding -->

<!-- This input does not use 2 way data binding -->
<!-- <input type="text" class="form-control" (input)="onUpdateServerName($event)"> -->

<!-- This input does use 2 way data binding -->
<input type="text" class="form-control" [(ngModel)]="serverName">
<!-- <p>{{ serverName }}</p> -->
<!-- This uses property binding and event binding -->
<button class="btn btn-primary" [disabled]="!allowNewServer" (click)="onCreateServer()">Add Server</button>

<!-- We will display the value of allowNewServer property in two ways as shown below -->
<!-- Using string interpolation -->
<!-- <p>{{ allowNewServer }}</p> -->

<!-- Output another property. This property will change once the Add Server button will be clicked -->
<!-- This uses string interpolation -->
<!-- We are commenting this out to make this conditional using a built in directive ngIf in the next line -->
<!-- <p>{{ serverCreationStatus }}</p>  -->
<!-- *ngIf is a structural directive which adds or removes elements from the DOM -->
<!-- the else part refers the local template reference noServer -->
<p *ngIf="serverCreated; else noServer">Server was created, server name is {{ serverName }}</p>
<!-- # represents a local reference, so in the case below noServer is a local template reference which we can refer in other parts of the code to show it -->
<ng-template #noServer>
    <p>No server was created!</p>
</ng-template>
<!-- Using property binding -->
<!-- <p [innerText] = "allowNewServer"></p> -->
<!-- <app-server></app-server> -->
<!-- <app-server></app-server> -->
<!-- Now using ngFor to repeat the app-server element as many times as needed -->
<app-server *ngFor="let server of servers"></app-server>