<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h3>I'm in the AppComponent</h3>
            <hr>
            <!-- use this if app-servers selector is an element selector -->
            <app-servers></app-servers>
            <!-- use this if app-servers selector is an attribute selector -->
            <!-- <div app-servers></div> -->
            <!-- use this if app-servers selector is a class selector -->
            <!-- <div class="app-servers"></div> -->
            <!-- Displaying the exercise components warning-alert and success-alert -->
            <ol>
                <li>Create two new Components (manually or with CLI): WarningAlert and SuccessAlert</li>
                <li>Output them beneath each other in the AppComponent</li>
                <li>Output a warning or success message in the Components</li>
                <li>Style the Components appropriately (maybe some red or green text...)</li>
            </ol>
            <p>Use external or interal templates and styles!</p>
            <p>Feel free to create more components, nest them into each other or play around with different types of selectors!</p>
            <app-warning-alert></app-warning-alert>
            <app-success-alert></app-success-alert>  
        </div>
    </div>
</div>
