<div class="container">
  <div class="row">
      <div class="col-xs-12">
        <p>In this exercise you need to achieve the following</p>
        <li>
          <ol>1.Add a button which says 'Display Details'</ol>
          <ol>2.Add a paragraph with any content of your choice. (e.g. 'Secret Password = tuna')</ol>
          <ol>3.Toggle the displaying of that paragraph with the button created in the first step</ol>
          <ol>4.Log all button clicks in an array and output that array below the secret paragraph (maybe log a timestamp or simply an incrementing number)</ol>
          <ol>Starting at the 5th log item, give all future log items a blue background(via ngStyle) and white color(ngClass)</ol>


          

          <!-- Adding an input field which updates a property ('username') via two wat data binding -->
          <label>Enter name here for question 1</label>
          <input type="text" class="form-control" [(ngModel)]="userName">
          <!-- Output the username property via String interpolation (in a paragraph below the input) -->
          <p>{{ userName }}</p>
          <!-- Add a button which may only be clicked if the username is NOT an empty string -->
          <label>Enter name here for question 3</label>
          <input type="text" class="form-control" (input)="onUpdateUserName($event)"><br>
          <!-- Upon clicking the button, the username should be reset to an empty string -->
          <button class="btn btn-primary" [disabled]="!isClickable" (click)="onClickEmptyUserName()">Submit Name</button>
        </li>
    </div>
  </div>
</div>